/*Font Imports*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');

/* Styles */

* {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #BEE9E8;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav #logo {
    height: 85%;
    margin-left: 35%;
}

nav #header-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    width: fit-content;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #BEE9E8;
    border: 5px solid #015bab;
    height: 35rem;
    width: 80rem;
    margin-top: 10rem;
}

#index-text-container p {
    color: #015bab;
    font-size: 7rem;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 3%;
}

button {
    background-color: #015bab;
    color: #fff;
    font-style: italic;
    width: fit-content;
    height: fit-content;
    font-size: 3rem;
    font-weight: 900;
    width: 20rem;
    height: 7rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}


/*  Login   */

#navigation-buttons-container {
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 10rem;
}

#navigation-buttons-container a {
    font-size: 2rem;
    text-decoration: none;
    color: #015bab;
}

.login-title {
    font-size: 7rem;
    font-weight: 900;
    color: #015bab;
}

#line {
    height: 1px;
    width: 40%;
    background-color: #aaa;
    margin: 0 0 2rem 0;
}

#login {}

#login label {
    font-size: 2rem;
}

#login #cliente {
    margin: 1rem 0;
}

#login #restaurante {
    margin: 0 0 2rem 0;
}

#login input {
    font-size: 2rem;
}

#btn-login {
    margin: 2rem 0 0 1.5rem;
}

#login-register-text {
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
}


/* Register */

#register-container {}

#register-container button {
    margin: 3rem 2rem 0 0;
}

#register label {
    font-size: 2rem;
}

#register input {
    width: 40rem;
    font-size: 2rem;
}

#account-type-text {
    font-size: 2rem;
}


/*  Home    */

#hi-user {
    font-size: 3rem;
    color: #015bab;
    font-weight: 900;
}